* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 48%;
  margin-right: 2%;
  height: 35px;
  cursor: pointer;
  border: 0;
}

button:last-child {
  margin-right: 0;
}

.solid {
  width: 100%;
  height: 1px;
  background-color: #efefef;
  margin: 20px 0;
}

.layout {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 20px 0;
}

/* 입력 input area  */
.input-area {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #efefef;
}

.input-area label {
  line-height: 35px;
}

.input-area input {
  margin-right: 50px;
  margin-left: 3px;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}

.add-btn {
  width: 100px;
  height: 35px;
  float: right;
  border: 0;
  border-radius: 5px;
  background-color: rgb(13, 173, 198);
  color: #fff;
}

.add-btn:hover {
  font-weight: bold;
}

/* working */
.working, .done {
  padding: 30px 0px;
}

.working h2, .done h2 {
  padding-bottom: 20px;
}

.working h3, .done h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.task-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.task-box {
  width: calc((100% - 6vw)/4);
  border: solid 3px rgb(162, 162, 162);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.4s;
}

.task-box h3, .task-box p {
  width: 100%;
}

.task-box p {
  height: 3rem;
}

.task-box button {
  margin-top: 18px;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #ddd;
  align-items: flex-end;
  transition: all 0.3s;
}

.working .task-box button:hover {
  border-color: rgb(13, 173, 198);
  background-color: rgb(13, 173, 198);
  color: #fff;
}

.del {
  color: rgb(249 64 63);
}

.working .task-box .del:hover, .done .task-box .del:hover {
  background-color: rgb(249 64 63);
  border: rgb(249 64 63);
  color: #fff;
}

.done .task-box {
  border-color: rgb(13, 173, 198);
}

.done .task-box button:last-child:hover {
  background-color: rgb(162, 162, 162);
  color: #fff;
  border-color: rgb(162, 162, 162);
}